.page {
    display: flex;
    flex-direction: column;
}

header {
    height: 64px;
    background-color: #f7f6f4;
    border-bottom: 1px solid #bfccd9;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main {
    position: absolute;
    top: 0;
}

.bg-img {
    width: 100%;
    object-fit: cover;
}