<MudThemeProvider Theme="@mudTheme" />

<div class="app-header">
    <div></div>
</div>

@code {
    private bool collapseNavMenu = true;

    MudTheme mudTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = "#222E3A"
            }
        };

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
